@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BMDOHYEON';
    background-image: url(./img/background.png);
}
.mainimg {
    cursor: pointer;
}
.mainBody {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}

@keyframes fadeinleft {
    0% {
        opacity: 0%;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 100%;
        transform: translateZ(0);
    }
}

.mainimg {
    animation: fadeinleft 1s;
}

.mainimg {
    width: 250px;
    background-color: white;
    border-radius: 50%;
}

.h1p {
    position: relative;
    animation: fadeinleft 1.5s;
    font-size: 50px;
    margin-bottom:  20px;
}

.mainTitle {
    color: white;
}

.p {
    animation: fadeinleft 2s;
}
.p1 {
    animation: fadeinleft 2.1s;
}
.p2 {
    animation: fadeinleft 2.2s;
}
.p3 {
    animation: fadeinleft 2.3s;
}
.mainTitle {
    cursor: pointer;
}